# Database credentials for the API

POSTGRES_DATABASE_USERNAME=postgres
POSTGRES_DATABASE_PASSWORD=postgres
POSTGRES_DATABASE_HOST=db
POSTGRES_DATABASE_PORT=5432
POSTGRES_DATABASE_NAME=link_db

# Credentials for the PostgreSQL container (should match above)

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=link_db
